.App {
  color: #333;
  font-family: 'Microsoft Yahei';
  border-radius: 4px;
  background: #fff;
  height: 100%;
  width: 100%;
  min-width: 1024px;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}
.App>main {
  position: relative;
  max-height: 100vh;
  margin-left: 1em;
  padding-right: 1em;
  flex: 4;
}
.App>main>header {
  display: flex;
  align-items: flex-end;
  padding: 15px;
  height: 120px;
  background: #3d74e5;
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
}
.App>.Menu {
  flex: 1;
  border-right: 1px solid #eee;
  height: 100vh;
  background: #fff;
}
.App>main>h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App>main>h1>button {
  margin-left:1em;
  padding: .3em;
  cursor: pointer;
}
.App>main>h1>button:hover {
  color: red;
}
.App>main> .todoList{
  width: calc(100% - 16px);
  max-height: calc(100vh - 172px);
  position: absolute;
  top: 172px;
  overflow: auto;
}
.App>main> .todoList> li{
  color: #333;
  border-bottom: 1px solid #eee;
  transition: .2s all ease;
}
.App>main> .todoList> li:hover{
  background: rgba(250,250,250,1);
}
