.App {
  color: #333;
  border: 1px solid rgba(241,241,241,1);
  font-family: 'Microsoft Yahei';
  border-radius: 4px;
  background: #fff;
  margin: 2em;
  padding: 0 1em;
  min-height: 20em;
  min-width: 57em;
}
.App>h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App>h1>button {
  margin-left:1em;
  padding: .3em;
  cursor: pointer;
}
.App>h1>button:hover {
  color: red;
}
.App> .todoList> li{
  color: #333;
  border-bottom: 1px solid #eee;
  transition: .2s all ease;
}
.App> .todoList> li:hover{
  background: rgba(250,250,250,1);
}
