*::selection {
	background-color: yellow;
}
body {
  background: #ddd;
  font-family: Arial;
}

#root {
	min-height: 100vh;
	background: rgba(250,250,250,1);
	display: flex;
	justify-content: center;
}
