.TodoItem {
	
	display: flex;
	height: 3em;
	align-items: center;
}
.TodoItem>input {
	width: 2em;
	height: 2em;
	margin-left: 1em;
}
.TodoItem>input~label {
	outline: none;
	transition: .2s all ease;
}
.TodoItem>input~label>hr {
	position: relative;
	top: 5px;
}
.TodoItem>input:checked~label {
	color: #777;
	font-family: monospace;
	text-decoration: line-through;
	opacity: .5;
}
.TodoItem>label {
	font-size: 15px;
	padding: .5em;
	flex: 1;
}
.TodoItem>button {
	display: none;
	background: transparent;
}
.TodoItem:hover>button {
	display: block;
	border: none;
	color: #b9b9b9;
	outline:none;
	font-size: 25px;
	margin-right: 10px;
}
.TodoItem>button:hover {
	color: #111;
	cursor: pointer;
}