.TodoItem {
	position: relative;
	display: flex;
	height: 3em;
	align-items: center;
}
.TodoItem>input {
	width: 2em;
	height: 2em;
	margin-left: 1em;
}
.TodoItem>input~label {
	outline: none;
	transition: .2s all ease;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.TodoItem>input~label>hr {
	position: relative;
	top: 5px;
}
.TodoItem>input:checked~label {
	color: #777;
	font-family: monospace;
	text-decoration: line-through;
	opacity: .5;
}
.TodoItem>label {
	font-size: 15px;
	padding: .5em;
	white-space: nowrap;
	flex: 1;
	cursor: text;
}
.TodoItem>label~hr {
	position: absolute;
	bottom: 0;
	width: 0;
	left: 50%;
	transform: translateX(-50%);
	border-width: 0;
	height: 2px;
	background: #ffad1b;
	transition: .3s width ease;
}
.TodoItem>label:focus~hr {
	height: 2px;
	width: 100%;
}
.TodoItem>button {
	display: none;
	background: transparent;
}
.TodoItem:hover>button {
	display: block;
	border: none;
	color: #b9b9b9;
	outline:none;
	font-size: 25px;
	margin-right: 10px;
}
.TodoItem>button:hover {
	color: #111;
	cursor: pointer;
}